
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}
header{
    max-width: 1250px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding: 0px 20px ;
    color: #c4c4c4;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
nav ul li:hover{
    color:rgba(5, 139, 140, 1);
    cursor: pointer;

}
.header_btn{
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    padding: 5px 20px;
    color: white;
}
.header_btn:hover{
    color: white;
}


/*footer*/
footer{
    margin: auto;
    max-width: 1250px;
    padding: 10px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    
}

.column_three ul li{
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  
}
.news_letter{
    display: flex;
    padding: 15px 0px;
}
.news_letter input{
    width: 80%;
    border-radius: 341px;
}

.column_two{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; ;
} 
.grid-container1 .grid-item{
    gap: 29px;
}

    
